    <p>If you are not sure how this works, click <a href="#" id="help-message">here</a></p><br><br>
    </center>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>