<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing materialize css</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Image Steganography</a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
  </nav>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>